nav {
    display: flex;
    justify-content: space-around;
    background-color: grey;
    border-radius: 25px;
    height: 55px;
}

#hotwheels {
    width: 50px;
    margin-right: 200px;
    height: 50px;
    margin-top: 2px;
}

.gears {
    padding-top: 10px;
}


#supra {
    margin-right: 5px;
    color:#fff;
    text-decoration: none;
    font-size: 18px;
}

#supra:hover {
    color: red;
}

#audi {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#audi:hover {
    color: red;
}

#ford {
    color: #fff;
    text-decoration: none;
    margin-right: 5px;
    font-size: 18px;
} 

#ford:hover {
    color: red;
}

* {
    margin: 0;
    padding: 0;
    }

.rickroll {
    animation: 3s linear 0s infinite running ;
}

h1 {
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
    color: rgb(159, 159, 159)
}

#his {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}

#benzo {
    margin-top: 50px;
    display: flex;
}

#the{
    text-align: center;
}

#tordo {
    margin-top: 50px;
    width: 50px;
    height: 30px;
    border-radius: 30px;
}
